<div class="container">
    <div class="header__inner">
        <div class="logo">
            <img src="./assets/images/icon/fahasa-logo.webp" alt="" class="logo__icon">
        </div>

        <div class="search">
            <form action="" class="search__form">
                <input type="text" class="search__input">
                <button type="submit" class="search__btn">
                    <img src="./assets/images/icon/search.svg" class="search__icon">
                </button>
            </form>
        </div>

        <div class="header-act">
            <div class="header-act__control">
                <div class="header-act__border">
                    <img src="./assets/images/icon/cate_menu.svg" alt="" class="header-act__img header-act__img--color">
                </div>
                <div class="header-act__border">
                    <img src="./assets/images/icon/bell.svg" alt="" class="header-act__img">
                </div>
                <div class="header-act__border">
                    <a href="cart.html" class="header-act__cart">
                        <img src="./assets/images/icon/cart.svg" alt="" class="header-act__img">

                        <div class="cart-dropdown">
                            <div class="cart-dropdown__wrapper">
                                <div class="cart-dropdown__heading">
                                    <img src="./assets/images/icon/cart.svg" alt="" class="cart-dropdown__icon">
                                    <h3 class="cart-dropdown__title">Giỏ hàng</h3>
                                </div>

                                <div class="cart-dropdown__body">
                                    <div class="cart-dropdown__notice-no-empty">
                                        <img src="./assets/images/icon/empty.svg" alt=""
                                            class="cart-dropdown__img-notice">
                                        <span class="cart-dropdown__label">Hiện bạn chưa có sản phẩm </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="theme-toggle" class="header-act__border">
                    <img id="theme-img-toggle" src="./assets/images/icon/sun.svg" alt="" class="header-act__img">
                </div>
            </div>
            <div class="header-act__account">
                <div id="model-account" class="header-act__border">
                    <img src="./assets/images/icon/account.svg" alt="" class="header-act__img">
                </div>
            </div>
        </div>
    </div>
</div>