*,
::before,
::after {
    box-sizing: border-box;
}



html {
    font-size: 62.5%;
    font-family: sans-serif;

}

body {
    background-color: #F0F0F0;
    line-height: 1.428571429
}



input,
button {
    border: none;
    outline: none;
}


button {
    line-height: 1.42857;

    padding: 0;
    bottom: 0;
}

input {
    margin: 0;
}

a {

    text-decoration: none;
}

li {
    list-style: none;

    text-align: unset;

}